<!DOCTYPE html>
<html>
<head>
    <title>Previsão do Tempo</title>
    <link rel="stylesheet" type="text/css" href="/home/andre/OneDrive/UFT/disciplinas/9_período/2_engenharia_de_software/es-atividade-2/view/css/styles.css">
</head>
<body>
    <h1>Previsão do Tempo</h1>
    <ul>
        <li>
            <h2>Palmas</h2>
            <p>30°C</p>
            <p>01/01/2024</p>
        </li>

        <li>
            <h2>Goiânia</h2>
            <p>28°C</p>
            <p>01/01/2024</p>
        </li>

        <li>
            <h2>Fazenda Nova</h2>
            <p>32°C</p>
            <p>01/01/2024</p>
        </li>

        <li>
            <h2>Salvador</h2>
            <p>29°C</p>
            <p>01/01/2024</p>
        </li>  
    </ul>
</body>


</html>
