<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="view/css/styles.css">
</head>
<body>
    <div class="city">
        <h2>Palmas</h2>
        <p>Data: 18/03/2024</p>
        <p>Temperatura: 26°C</p>
    </div>
    <div class="city">
        <h2>Brasília</h2>
        <p>Data: 18/03/2024</p>
        <p>Temperatura: 25°C</p>
    </div>
    <div class="city">
        <h2>Rio de Janeiro</h2>
        <p>Data: 18/03/2024</p>
        <p>Temperatura: 28°C</p>
    </div>
</body>
</html>
